<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  </head>
  <body>
    <div class="wrapper"></div>
      <main class="page-content" aria-label="Content">
      
        
        <div class="site-header">
          <h1 class="page-title">{{ page.title | default: site.title }}</h1>

          {% unless page.url == '/' %}
            <a href="{{ '/' | relative_url }}" class="home-link">Home</a>
          {% endunless %}
        </div>

        {{ content }}
      
      </main>
    </div>
  </body>
</html>
